.main__loader{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
/* inline w-10 h-10 mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600 */
.main__loader svg{
    display: inline;
    width: 50px;
    height: 50px;
    margin-right: 2px;
    fill: #1d4ed8;
    animation: spin 1s linear infinite;

}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}